In [2]:
!pip3 install psycopg2-binary
!pip3 install pandas
!pip3 install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/7f/06/b679e3dc280cee93f2d70f15e0ec6d382d6ff9e7e58ea153dc9588d0de5c/psycopg2_binary-2.9.8-cp39-cp39-macosx_11_0_arm64.whl.metadata
  Downloading psycopg2_binary-2.9.8-cp39-cp39-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.8-cp39-cp39-macosx_11_0_arm64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 1.7 MB/s eta 0:00:00a 0:00:010m
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.8
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/c5/2f/bf85305b044ddee0ade62c444c7ef551eb423899424b3898d60895d02f63/pandas-2.1.1-cp39-cp39-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.1-cp39-cp39-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy>=1.22.4 (from pandas)
  Obtaining dependency information for numpy>=1.22.4 from https://files.pythonhosted.org/packages/b4/ca/fc1c4f8a2a4693ff437d039acf2dc93a190b9494569fbed246f535c44fc8/numpy-1.26.0-cp39-cp39-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.26.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.5/53.5 kB 626.2 kB/s eta 0:00:00 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jchiaramonte/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /Users/jchiaramonte/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 1.6 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.0-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 624.0 kB/s eta 0:00:0000:0100:01
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in /Users/jchiaramonte/Library/Python/3.9/lib/python/site-packages (1.0.0)

In [3]:
from python_modules.db_connect import execute_command_no_return, execute_query
from dotenv import load_dotenv
load_dotenv()

True

In [ ]:
### CREATE USERS TABLE

create_user_table_command = """
    DROP TABLE IF EXISTS users;
    CREATE TABLE users (
        aud TEXT,
        azp TEXT,
        email TEXT,
        email_verified BOOLEAN,
        exp NUMERIC,
        family_name TEXT,
        given_name TEXT,
        iat NUMERIC,
        iss TEXT,
        jti TEXT,
        locale TEXT,
        name TEXT,
        nbf NUMERIC,
        picture TEXT,
        sub TEXT
    );
"""

execute_command_no_return(create_user_table_command)

In [ ]:
### ADD SAMPLE USERS TO USERS TABLE

add_sample_users_command = """
    INSERT INTO users (
    aud, azp, email, email_verified, exp, family_name, given_name, iat, iss, jti, locale, name, nbf, picture, sub
    )
    VALUES
    ('123456789', 'client123', 'user1@example.com', TRUE, 1677648000, 'Doe', 'John', 1677644000, 'issuer123', 'jwt123', 'en-US', 'John Doe', 1677642000, 'https://example.com/user1.jpg', 'user123'),
    ('987654321', 'client456', 'user2@example.com', TRUE, 1677648000, 'Smith', 'Jane', 1677644000, 'issuer456', 'jwt456', 'en-US', 'Jane Smith', 1677642000, 'https://example.com/user2.jpg', 'user456'),
    ('555555555', 'client789', 'user3@example.com', TRUE, 1677648000, 'Johnson', 'Robert', 1677644000, 'issuer789', 'jwt789', 'en-US', 'Robert Johnson', 1677642000, 'https://example.com/user3.jpg', 'user789');
    """

execute_command_no_return(add_sample_users_command)

In [6]:
### CREATE EMPLOYEES TABLE

create_employees_table_command = """
    DROP TABLE IF EXISTS employees;
    DROP TABLE IF EXISTS profiles;
    CREATE TABLE profiles (
        user_sub TEXT
        , name TEXT
        , age NUMERIC
        , gender TEXT
        , job_title TEXT
        , years_experience TEXT
        , notes TEXT
    );
"""

execute_command_no_return(create_employees_table_command)

In [4]:
execute_query("SELECT * FROM users;")

,aud,azp,email,email_verified,exp,family_name,given_name,iat,iss,jti,locale,name,nbf,picture,sub
0,164377232646-17ms2a711rlca4364vioe4v3c2070q8c....,164377232646-17ms2a711rlca4364vioe4v3c2070q8c....,johnchiaramonte17@gmail.com,True,1.694822e+09,Chiaramonte,John,1.694818e+09,https://accounts.google.com,e566055e310c9ff0fb4fe55e9c62a691813dd001,en,John Chiaramonte,1.694818e+09,https://lh3.googleusercontent.com/a/ACg8ocLo-Z...,107555079500216939004

In [6]:
execute_query("SELECT * FROM profiles;")

,user_aud,name,age,gender,job_title,years_experience,notes
0,164377232646-17ms2a711rlca4364vioe4v3c2070q8c....,based,25,Male,Manager,2,Epicsauce
1,164377232646-17ms2a711rlca4364vioe4v3c2070q8c....,Josiah,Chance,Male,Entrepreneur,10,Bababooey