In [ ]:
!pip3 install psycopg2-binary
!pip3 install pandas
!pip3 install python-dotenv

In [6]:
from python_modules.db_connect import execute_command_no_return, execute_query
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
### CREATE USERS TABLE

create_user_table_command = """
    DROP TABLE IF EXISTS users;
    CREATE TABLE users (
        aud TEXT,
        azp TEXT,
        email TEXT,
        email_verified BOOLEAN,
        exp NUMERIC,
        family_name TEXT,
        given_name TEXT,
        iat NUMERIC,
        iss TEXT,
        jti TEXT,
        locale TEXT,
        name TEXT,
        nbf NUMERIC,
        picture TEXT,
        sub TEXT
    );
"""

execute_command_no_return(create_user_table_command)

In [ ]:
### ADD SAMPLE USERS TO USERS TABLE

add_sample_users_command = """
    INSERT INTO users (
    aud, azp, email, email_verified, exp, family_name, given_name, iat, iss, jti, locale, name, nbf, picture, sub
    )
    VALUES
    ('123456789', 'client123', 'user1@example.com', TRUE, 1677648000, 'Doe', 'John', 1677644000, 'issuer123', 'jwt123', 'en-US', 'John Doe', 1677642000, 'https://example.com/user1.jpg', 'user123'),
    ('987654321', 'client456', 'user2@example.com', TRUE, 1677648000, 'Smith', 'Jane', 1677644000, 'issuer456', 'jwt456', 'en-US', 'Jane Smith', 1677642000, 'https://example.com/user2.jpg', 'user456'),
    ('555555555', 'client789', 'user3@example.com', TRUE, 1677648000, 'Johnson', 'Robert', 1677644000, 'issuer789', 'jwt789', 'en-US', 'Robert Johnson', 1677642000, 'https://example.com/user3.jpg', 'user789');
    """

execute_command_no_return(add_sample_users_command)

In [ ]:
### CREATE EMPLOYEES TABLE

create_employees_table_command = """
    DROP TABLE IF EXISTS employees;
    DROP TABLE IF EXISTS profiles;
    CREATE TABLE profiles (
        profile_id TEXT
        , user_sub TEXT
        , name TEXT
        , age NUMERIC
        , gender TEXT
        , job_title TEXT
        , years_experience TEXT
        , notes TEXT
    );
"""

execute_command_no_return(create_employees_table_command)

In [ ]:
execute_query("SELECT * FROM users;")

In [ ]:
execute_query("SELECT * FROM profiles WHERE profile_id = '7d1679cd872960a07115c44eee5e327758bbf8392474429bd2b367cecb67aa47';")

In [ ]:
execute_command_no_return("DELETE FROM profiles WHERE profile_id = '7d1679cd872960a07115c44eee5e327758bbf8392474429bd2b367cecb67aa47'")

In [8]:
### CREATE SCENARIOS TABLE

create_user_table_command = """
    DROP TABLE IF EXISTS scenarios;
    CREATE TABLE scenarios (
        scenario_id TEXT
        , user_sub TEXT
        , profile_id TEXT
        , contents jsonb
    );
"""

execute_command_no_return(create_user_table_command)